.collection-list {
    h1 {
        margin-right: 35%;
        margin-left: 35%;
        margin-top: 2%;
        color: #79713d
    }
    .col {
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .card {
        margin-bottom: 20px;
    }
    .btn-outline-danger {
        margin-top: 20px;
        float: right;
    }
    .nav-link {
        color: #50bfbf;
        margin-top: 30px;
        padding: 0;

    }
}

