.items-collection {
    .btn-outline-dark {
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .card {
        margin-bottom: 20px;
    }
    .btn-outline-danger {
        margin-top: 20px;
        float: right;
    }
    .col {
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

