.items-collection {
  padding: 0 15%;

  .btn-outline-dark {
    margin-top: 30px;
    margin-right: 20px;
  }

  .row {
    margin-top: 10px;
  }

  .actions {
    display: flex;
    margin: 5px 15px 5px;
    flex-direction: row-reverse;
    padding-bottom: 10px;
    color: #615b5b;

  }

  .nav-link {
    color: #615b5b;
  }
}

