.add-collection-item {

  .form-group-container {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .btn-primary {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
  }
}


